div.sbis_ru-Header__fixed {
    display: none;
}

div.billing-PriceList__tabList-info-wrapper.controls-Scroll__userContent {
    display: none;
}

a.billing-PriceList__footer-link {
    display: none;
}

div.sbis_ru-Footer.sbis_ru-background.sbis_ru-section {
    display: none;
}